version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: attrition-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: attrition-frontend
    ports:
      - "7860:7860"
    depends_on:
      - backend